<%= turbo_stream.update "weather_data" do %>
<div class="weather-description">
   <h1> <%=@country %></h1>
   <h4><%= @localtime %></h4>
   <h2> <%= @name %></h2>
   <h3> <%= @temperature %> C</h3>
   <h4> <%= @weather_description %></h4>
   <h4>Wind speed  <%=@wind_speed %> km/h</h4>
   <h4>Wind degree  <%= @wind_degree %></h4> 
  </div>
<% end %>

<%= turbo_stream.update "list" do %>
<div class="search_list">
   <ul>
      <% @searches.each do |s| %>
        <li>
          Country:<%= s["country"] %><br>
          Name: <%= s["name"] %><br>
          Temperature: <%= s["temperature"] %><br>
          Weather Description: <%= s["weather_description"] %><br>
          Wind Speed: <%= s["wind_speed"] %><br>
          Wind Degree: <%= s["wind_degree"] %><br>
        </li>
      <% end %>
    </ul>
</div>
<% end %>