<div class="row">
  
   <div class="col-25">
     <%= turbo_frame_tag "list" do %>
     <div class="search_list">
        <ul>
         <% @searches.each do |s| %>
           <li>
           Country:<%= s.country %><br>
           Name: <%= s.name %><br>
           Temperature: <%= s.temperature %><br>
           Weather Description: <%= s.weather_description %><br>
           Wind Speed: <%= s.wind_speed %><br>
           Wind Degree: <%= s.wind_degree %><br>
           </li>
        <% end %>
       </ul>
     </div>
     <% end %>
   </div>
<div class="col-75">
<%= form_tag api_data_path,:method =>"post" do  %>
   <%= text_field_tag 'city_name',nil,placeholder: "Enter a city name" ,class:"search_bar"%>
   <%= submit_tag("Search",:name => nil,class:"btn btn-info search_btn") %>
<% end %>
<br>


   <%= turbo_frame_tag "weather_data" do %>
   <div class="weather-description">
   <h1> <%=@data["data"]["country_code"] %></h1>
   <h4><%= @data["data"]["datetime"] %></h4>
   <h2> <%= @data["data"]["city_name"]%></h2>
   <h3> <%= @data["data"]["temp"] %> C</h3>
   <h4> <%= @data["data"]["weather"]["description"] %></h4>
   <h4>Wind speed  <%=@data["data"]["wind_spd"] %> km/h</h4>
   <h4>Wind degree  <%= @data["data"]["wind_dir"]%></h4> 
  </div>
   <% end %> 
   <div  class="row">
     <div class="col-100">
     <%= form_with url: users_path,:method => "post" ,data: {turbo: false} do |f| %>
       <p><%= f.text_field :email,placeholder:"Enter your email example@gmail.com" ,class:"email_field" %></p>
        <%= f.submit "Subscribe",class:"button button5" %>
      <% end %>
     </div>
   </div>
  </div>
</div>